*{ margin:0; padding:0; box-sizing:border-box; }

body{
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x: hidden;
    /* font-family: 'Dosis', sans-serif !important;  */

    font-family: 'Titillium Web', sans-serif !important;
}

.hr{
    height: 1px;
    width: 100%;
    background-color: rgb(213, 213, 213);
}
.space-20{
    height: 20px;
    width: 100%;
}

.space-50{
    height: 50px;
    width: 100%;
}

.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}

.rounded-r{
    border-radius: 20px;
}

.circle{
    border-radius: 50%;
}

.bg-now{
    background-color:#C32148 ;
}

.text-now{
    color: #C32148 ;
}
.text-yellow{
    color: #FFBF00  ;
}



.text-small{
    font-size: 0.9em;
}

.text-grey{
    color: #403E34;
}

.logo-img{
    width: 150px;
}

.nav-link{
    color: black !important;
}

.active{
    color: #C32148 !important; 
}

.nav-link:hover{
    color: #FFBF00 !important;
}

.hero{
    height: 50vh;
}
.wave-img{
    height: 50vh;
    background-image: url("../img/mountain.png");
    background-size: cover;
    background-repeat: repeat-x;
    
}

@media screen and (max-width:500px)
{
    .hero{
        height: 50vh;
    }
    .wave-img{
        height: 50vh;
        background-image: url("../img/mountain.png");
        background-size: cover;
        background-repeat: repeat-x;
    }
}

.badge-now{
    border: 2px solid #C32148;
    padding: 5px;
    border-radius: 20px;
    background-color: #C32148;
    color: white;
    font-size: 0.8em;
}

.btn-now{
    border: 2px solid #C32148;
    padding: 10px;
    border-radius: 15px;
    font-size: 0.9em;

    text-decoration: none;
    
}
.btn-now:hover{
    cursor: pointer;
    /* text-shadow: 0px 3px 27px  #C32148 ; */
    color: white;
    background-color: #FFBF00;
    border: 2px solid #FFBF00;
    text-decoration: none;
}

@media screen and (max-width:500px){
    .btn-now{
        font-size: 0.8em;
    }
}

.phone-1{
    max-width: 400px;
    width: 100%;
    /* max-height: 350px; */
    transition: all 0.3s;
}

.phone-3{
    max-width: 400px;
    width: 100%;
    transition: all 0.3s;
}

.phone-4{
    max-width: 400px;
    width: 100%;
    transition: all 0.3s;
}

.phone-1:hover{
   transform: translate(-10px,-10px);
}



.app-card{
    width: 100%;
    box-shadow: 0px 3px 27px  #00000027;
    padding: 20px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.2s;

}

@media screen and (min-width:700px ){
    .app-card-adjust{
        max-width: 400px;
    }
}
.app-card:hover{
    box-shadow: 0px 3px 10px  #00000068;
}

.app-ico-img{
    width: 80px;
}

.team-1{
    width: 300px;
}



/* =============================== */

.address-card{

}

